

.table-container {
    width: 1000px;
    height: 510px;
    border-radius: 6px;
    border: 2px solid lightgrey;
    display: flex;
    td {
        border: .5px solid rgb(96, 96, 230);
        height: 18px;
        width: 14px;
        cursor: pointer;
        &:hover {
            background-color: red;
        }
    }
    table {
        border-spacing: 0px 0px;
    }
}

.green {
    animation: .5s cellAnimate ease-in;
    background: green !important;
}

@keyframes cellAnimate {
    from {
        transform: scale(0.2);
        border-radius: 50%;
    }
    to {
        transform: scale(1);
        border-radius: 0px;
    }
}