.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 24px;
    height: 500px;
    button {
        height: 32px;
        border: 0;
        border-bottom: 2px solid lightgray;
        background-color: transparent;
        box-shadow: 0px 4px 5px 4px rgb(235, 235, 235);
        margin-top: 48px;
        border-radius: 6px;
        cursor: pointer;
        &:hover {
            background-color: rgb(96, 96, 230);
            color: aliceblue;
        }
        &:disabled {
            color: rgb(180, 180, 180);
            background-color: transparent;
            cursor: context-menu;
        }
    }
}

.table-container {
    min-width: 1000px;
    min-height: 510px;
    border-radius: 6px;
    //border: 2px solid lightgrey;
    display: flex;
    td {
        border: .5px solid rgb(96, 96, 230);
        height: 18px;
        width: 14px;
        cursor: pointer;
        &:hover {
            background-color: red;
        }
    }
    table {
        border-spacing: 0px 0px;
    }
}

.visit {
    animation: .5s cellAnimate ease-in;
    background: rgb(255, 0, 208);
}
.gray {
    animation: .5s cellAnimate ease-in;
    background: gray !important;
}
@keyframes cellAnimate {
    from {
        transform: scale(0.2);
        border-radius: 50%;
    }
    to {
        transform: scale(1);
        border-radius: 0px;
    }
}


.start-node {
    background: green;
}
.end-node {
    background: blue;
}

.founded {
    background: blue;
    animation: 1s goalAnimation linear;
}

@keyframes goalAnimation {
    from {
        background: yellow;
        transform: scale(.15);
        border-radius: 50%;
    }
    90% {
        background: rgb(85, 0, 255);
        transform: scale(1.35);
        border-radius: 50%;
    }
    to {
        background: blue;
        transform: scale(1);
    }
}

.path {
    background: greenyellow;
    animation: 0.5s pathAnimation linear;

}

@keyframes pathAnimation {
    from {
        background: rgb(255, 0, 208);
        transform: scale(.15);
        border-radius: 50%;
    }
    90% {
        background: rgb(0, 255, 123);
        transform: scale(1.1);
        border-radius: 50%;
    }
    to {
        background: greenyellow;
        transform: scale(1);
    }
}


@media(max-width: 500px) {
    .table-container {
        margin-top: 100px;
        transform: rotate(90deg) scale(0.7);
        margin-bottom: 100px;
    }
}