.btn {
    display: flex;
    flex-direction: column;
    padding-right: 24px;
    button {
        height: 32px;
        border: 0;
        border-bottom: 2px solid lightgray;
        background-color: transparent;
        box-shadow: 0px 4px 5px 4px rgb(235, 235, 235);
        margin-top: 16px;
        border-radius: 6px;
        cursor: pointer;
        &:hover {
            background-color: rgb(96, 96, 230);
            color: aliceblue;
        }
    }
}

.table-container {
    min-width: 1000px;
    min-height: 510px;
    border-radius: 6px;
    //border: 2px solid lightgrey;
    display: flex;
    td {
        border: .5px solid rgb(96, 96, 230);
        height: 18px;
        width: 14px;
        cursor: pointer;
        &:hover {
            background-color: red;
        }
    }
    table {
        border-spacing: 0px 0px;
    }
}

.green {
    animation: .5s cellAnimate ease-in;
    background: green;
}

.gray {
    animation: .5s cellAnimate ease-in;
    background: gray !important;
}

@keyframes cellAnimate {
    from {
        transform: scale(0.2);
        border-radius: 50%;
    }
    to {
        transform: scale(1);
        border-radius: 0px;
    }
}